Repository Association-Jeroboam/MotionBoardFirmware: changes, and which lint-staged commands are due for each by the changed paths.
All: clang-format-8 -i -style=file -fallback-style=none, black --fast --line-length 240, sed -i '$a\', dos2unix

.lintstagedrc:

{
    "**/*.{c,h,cpp,hpp}": [
        "clang-format-8 -i -style=file -fallback-style=none"
    ],
    "**/*.py": [
        "black --fast --line-length 240"
    ],
    "**/*.{c,h,cpp,hpp,json,py,mk}": [
        "sed -i '$a\\'",
        "dos2unix"
    ]
}

[Control] Using goal direction
  common/Control.cpp
  common/Control.hpp
  test_robot/param/Parameters.hpp
Due: clang-format-8 -i -style=file -fallback-style=none, sed -i '$a\', dos2unix

[Motor] Renamed internal function
  common/HAL/Motor.cpp
  common/HAL/Motor.hpp
Due: clang-format-8 -i -style=file -fallback-style=none, sed -i '$a\', dos2unix

[RobotPose] added class
  common/RobotPose.cpp
  common/RobotPose.hpp
  common/common.mk
  test_robot/Makefile
  test_robot/param/Parameters.hpp
Due: clang-format-8 -i -style=file -fallback-style=none, sed -i '$a\', dos2unix

[Motor] Streaming PWM values
  common/HAL/Motor.cpp
Due: clang-format-8 -i -style=file -fallback-style=none, sed -i '$a\', dos2unix

Fix makefiles chain
  common/common.mk
  firmware/firmware.mk
  firmware/src/hal.mk
  firmware/src/hardware/target.mk
  firmware/src/hardware/test_robot/Makefile
  firmware/src/hardware/test_robot/platform.mk
  firmware/src/ports.mk
  firmware/src/sim/platform.mk
  firmware/src/sim/target.mk
  firmware/src/sources.mk
Due: sed -i '$a\', dos2unix

refact: update gitignore, match new project strucutre
  .gitignore
Due: none

refact: update clang-format for switch case indent
  .clang-format
Due: none

feature: basic dockerfile for firmware
  Dockerfile
Due: none

refact: add dockerignore
  .dockerignore
Due: none

refact(Control): split Control into Control and ControlThread
  common/Control.cpp
  common/Control.hpp
  firmware/src/ControlThread.cpp
  firmware/src/ControlThread.hpp
  firmware/src/Shell.cpp
  firmware/src/main.cpp
  firmware/src/sources.mk
Due: clang-format-8 -i -style=file -fallback-style=none, sed -i '$a\', dos2unix

refact: add git folder into .dockerignore
  .dockerignore
Due: none

wip: CI
  .github/workflows/compile.yml
Due: none

refact: remove .DS_Store
  .gitignore
  webots/protos/.DS_Store
  webots/protos/Robot/.DS_Store
  webots/worlds/.DS_Store
Due: none

fix endlines du cul
  common/Peripherals.hpp
  webots/controllers/eurobot/Makefile
  webots/controllers/eurobot/eurobot.cpp
  webots/protos/Game Elements/CupBoundingObject.proto
  webots/protos/Game Elements/Windsock.proto
  webots/protos/Game Elements/mesh/WindsockMesh.proto
  webots/protos/Robot/Robot2021.proto
Due: clang-format-8 -i -style=file -fallback-style=none, sed -i '$a\', dos2unix

[Goal] added reached member
  common/Goal.cpp
  common/Goal.hpp
Due: clang-format-8 -i -style=file -fallback-style=none, sed -i '$a\', dos2unix

[Control] Stop control if goal reached
  common/Control.cpp
  firmware/src/hardware/test_robot/param/Parameters.hpp
  webots/controllers/eurobot/Parameters.hpp
Due: clang-format-8 -i -style=file -fallback-style=none, sed -i '$a\', dos2unix

[webots]feat(motor): implement motor and basic control thread
  webots/controllers/eurobot/Makefile
  webots/controllers/eurobot/Motor.cpp
  webots/controllers/eurobot/Parameters.hpp
  webots/controllers/eurobot/Supervisor.cpp
  webots/controllers/eurobot/Supervisor.hpp
  webots/controllers/eurobot/eurobot
  webots/controllers/eurobot/eurobot.cpp
Due: clang-format-8 -i -style=file -fallback-style=none, sed -i '$a\', dos2unix

refact: format and editorConfig
  .editorconfig
  .gitignore
  .lintstagedrc
  common/Motor.hpp
  firmware/src/Board.hpp
  firmware/src/ControlThread.cpp
  firmware/src/ControlThread.hpp
  firmware/src/DataStreamer.hpp
  firmware/src/Motor.cpp
  firmware/src/Shell.cpp
  package-lock.json
  webots/controllers/eurobot/Supervisor.cpp
  webots/controllers/eurobot/Supervisor.hpp
Due: clang-format-8 -i -style=file -fallback-style=none, sed -i '$a\', dos2unix

feat(strategy): wip PoC with MoveAction
  .vscode/c_cpp_properties.json
  common/Event.hpp
  common/Strategy.cpp
  common/Strategy.hpp
  common/actions/Action.hpp
  common/actions/MoveAction.hpp
  common/common.mk
  firmware/src/ControlThread.cpp
  firmware/src/Shell.cpp
  firmware/src/dynamic_alloc.hpp
  firmware/src/main.cpp
  webots/controllers/eurobot/ControlThread.cpp
  webots/controllers/eurobot/ControlThread.hpp
  webots/controllers/eurobot/eurobot
  webots/controllers/eurobot/eurobot.cpp
Due: clang-format-8 -i -style=file -fallback-style=none, sed -i '$a\', dos2unix

fix(strategy): base class constructor
  common/Strategy.cpp
Due: clang-format-8 -i -style=file -fallback-style=none, sed -i '$a\', dos2unix

fix(action): remove chibiOS deps in common
  common/actions/Action.hpp
Due: clang-format-8 -i -style=file -fallback-style=none, sed -i '$a\', dos2unix

refact(aciton): goodbye std::map :(
  common/actions/Action.hpp
Due: clang-format-8 -i -style=file -fallback-style=none, sed -i '$a\', dos2unix

add eHSM lib
  .gitmodules
Due: none

update gitignore for test_strategy
  .gitignore
  test_strategy/CMakeFiles/3.19.6/CMakeCCompiler.cmake
  test_strategy/CMakeFiles/3.19.6/CMakeCXXCompiler.cmake
  test_strategy/CMakeFiles/3.19.6/CMakeDetermineCompilerABI_C.bin
  test_strategy/CMakeFiles/3.19.6/CMakeDetermineCompilerABI_CXX.bin
  test_strategy/CMakeFiles/3.19.6/CMakeSystem.cmake
  test_strategy/CMakeFiles/3.19.6/CompilerIdC/CMakeCCompilerId.c
  test_strategy/CMakeFiles/3.19.6/CompilerIdC/CMakeCCompilerId.o
  test_strategy/CMakeFiles/3.19.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
  test_strategy/CMakeFiles/3.19.6/CompilerIdCXX/CMakeCXXCompilerId.o
  test_strategy/CMakeFiles/CMakeDirectoryInformation.cmake
  test_strategy/CMakeFiles/CMakeError.log
  test_strategy/CMakeFiles/CMakeOutput.log
  test_strategy/CMakeFiles/Makefile.cmake
  test_strategy/CMakeFiles/Makefile2
  test_strategy/CMakeFiles/TargetDirectories.txt
  test_strategy/CMakeFiles/cmake.check_cache
  test_strategy/CMakeFiles/progress.marks
  test_strategy/CMakeFiles/test_strategy.dir/CXX.includecache
  test_strategy/CMakeFiles/test_strategy.dir/DependInfo.cmake
  test_strategy/CMakeFiles/test_strategy.dir/build.make
  test_strategy/CMakeFiles/test_strategy.dir/cmake_clean.cmake
  test_strategy/CMakeFiles/test_strategy.dir/depend.internal
  test_strategy/CMakeFiles/test_strategy.dir/depend.make
  test_strategy/CMakeFiles/test_strategy.dir/flags.make
  test_strategy/CMakeFiles/test_strategy.dir/link.txt
  test_strategy/CMakeFiles/test_strategy.dir/progress.make
  test_strategy/CMakeFiles/test_strategy.dir/src/main.cpp.o
Due: clang-format-8 -i -style=file -fallback-style=none, sed -i '$a\', dos2unix

wip: strategy
  common/Strategy.cpp
  common/Strategy.hpp
  common/Strategy/Events.hpp
  common/Strategy/IdleState.hpp
  common/Strategy/MatchState/GetBuoyState/GetBuoyState.hpp
  common/Strategy/MatchState/GetBuoyState/GoToBuoyState.hpp
  common/Strategy/MatchState/GetBuoyState/GripBuoyState.hpp
  common/Strategy/MatchState/LightHouseState/LightHouseState.hpp
  common/Strategy/MatchState/MatchState.hpp
  common/Strategy/Strategy.cpp
  common/Strategy/Strategy.hpp
  test_strategy/CMakeLists.txt
  test_strategy/Makefile
  test_strategy/src/Control.cpp
  test_strategy/src/Motor.cpp
  test_strategy/src/MotorControl.cpp
  test_strategy/src/main.cpp
  test_strategy/test_strategy
Due: clang-format-8 -i -style=file -fallback-style=none, sed -i '$a\', dos2unix
